/* GLOBAL */

body {
    font: 400 19px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.container-fluid, .container{
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #40739e;
    font-size: 50px;
}

.fa-star {
    color: #e1b12c;
    font-size: 24px;
}

.p-start {
    font-size: 21px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}

.caps-lg {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin: 20px 0px;
}

.caps-sm {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    margin: 10px 0px 30px;
}

/* NAVBAR */
.navbar {
    margin-bottom: 0;
    background-color: #40739e;
    z-index: 9999;
    border: 0;
    font-size: 12px; 
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    padding: 0px 50px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #40739e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* HEADER */
.jumbotron {
    background-color: #40739e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(rgba(64, 115, 158, 1), rgba(64, 115, 158, 0.6)), url("images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* GALLERY */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* REVIEWS */

#reviews {
    padding-top: 20px;
    height: 400px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #40739e;
}

.carousel-indicators li {
    border-color: #40739e;
}

.carousel-indicators li.active {
    background-color: #40739e;
}

/* WHY US */

.fa-10x {
    font-size: 200px;
}

.red {
    color: #c23616;
}

.yellow {
    color: #e1b12c;
}

.blue {
    color: #40739e;
}

.green {
    color: #44bd32;
}

/* FOOTER */

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #40739e;
}

footer a:hover[href='mailto:joelpeyton@hotmail.co.uk'] {
	text-decoration: none;
}

footer a:focus[href='mailto:joelpeyton@hotmail.co.uk'] {
	text-decoration: none;
}

.joel {
	font-family: 'Fredericka the Great', sans-serif;
	font-size: 20px;
	color: #40739e;
	border: 1px solid #40739e;
	padding: 5px;
	letter-spacing: 0px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
    body {
        font-size: 17px;
    }
    
    .fa-star {
        font-size: 20px;
    }
    
    .p-start {
        font-size: 19px;
    }

    .caps-lg {
        font-size: 20px;
    }
    
    .caps-sm {
        font-size: 17px;
        margin: 10px 0px 30px;
    }
    
    .navbar {
        font-size: 11px;
    }
    
    .navbar-brand {
        font-size: 14px;
    }
    
    #reviews {
        height: 350px;
    }
    
    .fa-10x {
        font-size: 175px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    
    .fa-star {
        font-size: 16px;
    }
    
    .p-start {
        font-size: 16px;
    }

    .caps-lg {
        font-size: 16px;
    }
    
    .caps-sm {
        font-size: 14px;
    }
    
    .navbar {
        font-size: 10px;
    }
    
    .navbar-brand {
        font-size: 12px;
    }
    
    .fa-10x {
        font-size: 150px;
    }
}

@media screen and (max-width: 768px) {
    .fa-star {
        font-size: 12px;
    }
    
    .caps-lg {
        font-size: 12px;
    }
    
    .caps-sm {
        font-size: 9px;
    }
    
    .navbar {
        font-size: 9px;
    }
    
    .navbar-brand {
        font-size: 10px;
    }
    
    .fa-10x {
        font-size: 100px;
    }
    
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand {
        display: none;
    }
}





